<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coms.fins.ojt.mapper.MatchMapper">

    <select id="selectAllMatches" resultType="coms.fins.ojt.domain.MatchVO">
        SELECT 
            match_id        AS matchId,
            field_name      AS fieldName,
            highlight_video AS highlightVideo,
            match_at        AS matchAt,
            created_at      AS createdAt,
            match_level     AS matchLevel,
            gender,
            num_members     AS numMembers
        FROM matches
        ORDER BY match_id DESC
    </select>

    <select id="selectMatchById" resultType="coms.fins.ojt.domain.MatchVO">
        SELECT 
            match_id        AS matchId,
            field_name      AS fieldName,
            highlight_video AS highlightVideo,
            match_at        AS matchAt,
            created_at      AS createdAt,
            match_level     AS matchLevel,
            gender,
            num_members     AS numMembers
        FROM matches
        WHERE match_id = #{matchId}
    </select>

</mapper>
